@model SistemaVenda.Models.ProdutoViewModel;

@{
    ViewData["Title"] = "Produto";
}
<h2>Produto</h2>
<hr />

<form asp-controller="Produto" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />
    <div class="form-group">
        <div class="col-4">
            <label>Descricao</label>
            <input type="text" asp-for="Descricao" value="@Model.Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Quantidade</label>
            <input type="number" asp-for="Quantidade" value="@Model.Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <div class="col-4">
            <label>Valor</label>
            <input type="text" asp-for="Valor" value="@Model.Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>

    </div>
    <div class="form-group">
        <div class="col-12 row">
            <div class="col-4">
                <label>Categoria</label>
                <select asp-for="CodigoCategoria" class="form-control input-group-lg" asp-items="@Model.ListaCategorias"></select>
                <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
            </div>
            <div class="col-2">
                <a href="@Url.Action("Cadastro","Categoria")" style="top: 24px; position: relative;" class="btn btn-success">Nova Categoria</a>
            </div>
        </div>
    </div>
    <br />
    <div class="col">
        <button type="submit" class="btn btn-success">Gravar</button>
    </div>
</form>